<nav class="z-depth-0" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo"><img width="40" src="/assets/images/hl-logo-trad-fff.svg"/></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="smoothScroll" href="#about">About</a></li>
      <li><a class="smoothScroll" href="#practice-areas">Practice Areas</a></li>
      <li><a class="smoothScroll" href="#contact">Contact</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a class="smoothScroll" href="#about">About</a></li>
      <li><a class="smoothScroll" href="#practice-areas">Practice Areas</a></li>
      <li><a class="smoothScroll" href="#contact">Contact</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
