---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "materialize";
@import "animate";
@import "partials/fonts";

// Light #5a6579
// Normal #141b25
// Dark #000000
// Accent #fcc914

body {
  font-family: 'Playfair';
  background-color: #141b25;
}

.hd {
  opacity: 0;
}

nav ul a,
nav .brand-logo {
  color: #fff !important;
}

.no-mar-bot {
  margin-bottom: 0px !important;
}

.collection {
  background-color: transparent !important;
  border: 0px solid #000 !important;
  .collection-header {
    background-color: transparent !important;
    border: 0px solid #000 !important;

  }
  .collection-item {
    background-color: transparent !important;
    border: 0px solid #000 !important;

  }
}

.intro {
  letter-spacing: .3em;
  text-transform: uppercase;
  // text-shadow: 0px 0px 10px #141b25;
}

a {
  color: #8597b6 !important;
}

nav {
  background-color: transparent !important;
  height: 100px !important;
  line-height: 100px !important;
}

nav .button-collapse i {
    height: 100px !important;
    line-height: 100px !important;
}

.side-nav {
  background-color: #141b25 !important;
  li {
    a {
      color: #fff !important;
    }
  }
}

h6, h5, h4, h3, h2, h1 {
  color: #fff !important;
}

.brand-logo {
  margin-top: 5px;
}

h2.header {
  color: #fff !important;
}

.avatar-container {
  width: 100%;
  img {
    width: 150px;
    height: 150px;
  }
}

p {
  font-family: 'Raleway';
  line-height: 2rem;
  color: #fff;
}

i.material-icons {
  color: #5a6579;
}

.button-collapse {
  color: #fff !important;
  i.material-icons {
    color: #fff !important;
  }
}

.notice {
  color: #fff;
}

.center-margin {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

#index-banner {
  background-image: url("/assets/images/background4.png");
  background-size: cover;
  background-position: center;
  min-height: 720px;
  width: 100%;
  line-height: 0;
  height: auto;
}

input, select, textarea{
  color: #fff !important;
}
//
// textarea:focus, input:focus {
//   color: #fff !important;
// }
//
// input:focus {
//   border-bottom: 0px solid #03a9f4 !important;
//   -webkit-box-shadow: 0 0px 0 0 #03a9f4 !important;
//   -moz-box-shadow: 0 0px 0 0 #03a9f4 !important;
//   box-shadow: 0 0px 0 0 #03a9f4 !important;
// }

.notice {
  float: right;
  font-size: 16px;
  line-height: 50px;
  padding-left: 8px;
}

.chip {
  color: #fff !important;
  height: 50px !important;
  line-height: 50px !important;
  border-radius: 3px !important;
  font-family: "Raleway" !important;
}

#contact {
  margin-top: 40px;
  form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 75% !important;
    font-family: 'Raleway' !important;
    .special-col {
      padding-left: 30px;
      padding-right: 30px;
    }
    input {
      // background-color: rgba(255, 255, 255, .15);
      // padding: 10px;
      // border-radius: 3px;
      // border-bottom: 0px solid #000 !important;
      margin-bottom: 3px !important;
    }
    button {
      background-color: #5a6579 !important;
      color: #fff !important;
      font-weight: bold;
      text-transform: capitalize;
      font-family: "Raleway";
      margin-top: 25px;
      width: 200px;
    }
  }
}

.parallax-container {
  min-height: 640px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

.parallax {
  opacity: .5 !important;
}

.special-section {
  min-height: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.custom-col {
    width: 20%;
    margin-left: auto;
    left: auto;
    right: auto;
    div {
      margin-bottom: 25px;
    }
}

footer {
  background-color: #161d26 !important;
  p {
    font-size: 12px;
  }
  a {
    font-size: 12px !important;
    font-family: 'Raleway' !important;
  }
  .phone {
    font-family: 'Raleway' !important;
    font-size: 12px;
  }
  .locations {
    li {
      margin-bottom: 15px;
      address {
        font-family: 'Raleway' !important;
        font-size: 12px;
        color: #fff !important;
        font-style: normal !important;
        strong {
          font-weight: bold !important;
        }
      }
    }
  }

  .footer-copyright p {
    font-size: 10px;
  }
}

@media only screen and (max-width : 992px) {

  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  #practice-areas .section {
    top: 10%;
  }

  .custom-col {
    width: 100% !important;
    padding-bottom: 20px !important;
    div {
      margin-bottom: 0px;
    }
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
